<div [ngStyle]="{ 'min-width': + tableMinWidth + 'px' }">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container *ngFor="let column of columns;let i = index; ">
                <ng-container matColumnDef="{{column}}">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}  </mat-header-cell>
                    <mat-cell *matCellDef="let row; ">{{ row[column] }} 
                      <button *ngIf="i==columns.length-1 " (click)="click1(row)" md-raised-button >delete</button> 
                      <button *ngIf="i==columns.length-2 " (click)="click(row)" md-raised-button >edit</button> 

                    </mat-cell>
                </ng-container>

             
              
    <!-- Action Column -->
    <!-- <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
            color="primary" (click)="edit()">
            <mat-icon>edit</mat-icon>
          </button> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
            (click)="delete()" color="warn">
            <mat-icon>delete</mat-icon>
          </button> </mat-cell>
      </ng-container> -->
    
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>


 <!-- <table mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of columns">
            <ng-container matColumnDef="{{column.columnDef}}">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
            </ng-container>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->












    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>