.example-header {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.example-header-label {
    flex: 1;
    height: 1em;
    font-weight: 500;
    text-align: center;
}

.mat-form-field {
    float: left;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    float: left;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    /* Add margin if needed */
}

.error-message {
    color: red;
    margin-top: 8px;
}

.quantity-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-input {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.min-plus-icon {
    margin-top: -20px;
}

.amount-input-width {
    width: 110px;
}


/* Center-align header cells */

.center-align-header {
    text-align: center;
    color: #fff;
}


/* Set red background color for the header row */

.mat-header-row {
    background-color: #3c8dbc;
    ;
}

.moreCalculation {
    // margin-top: 50px;
    padding: 20px;
}

.subR {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.subMoreCalculation {
    padding: 0 0 0 20px;
}

.title-ns {
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 30px;
}

.amount-color {
    font-weight: 700;
    font-size: 15px;
    color: green;
    text-align: right;
}

td {
    padding: 0px 0px 16px 0px;
}

.add-new-item-btn {
    background-color: green;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.mat-form-field-form {
    margin-right: 48px;
}