<!-- <div class="mat-elevation-z8" style="height: 98vh; margin-top: 0px;"> -->
<!-- <app-admin-header></app-admin-header> -->

<div style="
    height: 87%;
    overflow-y: auto;
    width: 22%;
    margin-top: 46px;
    border-right: 1px solid #dfdfdf;
    float: left;" *ngIf="this.router.url!='/login'">
    <!-- <div class="side-nav active"> -->

    <mat-list>


        <mat-list-item routerLink="/dashboard" [ngClass]="this.router.url == '/dashboard' ? 'link-active' : ''">
            <!-- <mat-icon>tab</mat-icon> -->
            <mat-icon>dashboard</mat-icon>
            <span class="sidenav-text"> Dashboard</span>
        </mat-list-item>

        <!-- <mat-list-item routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span class="sidenav-text"> Dashboard</span>
        </mat-list-item> -->
        <mat-divider></mat-divider>

        <mat-accordion class="app-nav-accordion">

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Sales</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item routerLink="/new-sales" [ngClass]="this.router.url == '/new-sales'? 'link-active' : ''">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Sales
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Sales List
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Sales Return
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Sales Return
                    </mat-list-item>

                    <!-- <a mat-list-item>Questions</a>
                    <a mat-list-item>Create New Quote</a> -->


                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <mat-accordion class="app-nav-accordion">

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Customers</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item routerLink="/new-customer" [ngClass]="this.router.url == '/new-customer'? 'link-active' : ''">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Customer
                    </mat-list-item>
                    <mat-list-item routerLink="/customer-list" [ngClass]="this.router.url == '/customer-list'? 'link-active' : ''">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Customer List
                    </mat-list-item>
                    <mat-list-item routerLink="/retailers" [ngClass]="this.router.url == '/retailers'? 'link-active' : ''">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Customer List test
                    </mat-list-item>


                    <!-- <a mat-list-item>Questions</a>
                    <a mat-list-item>Create New Quote</a> -->

                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <mat-accordion class="app-nav-accordion">

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Purchase</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item>
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Purchase
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Purchase List
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Purchase Return
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Purchase Return
                    </mat-list-item>

                    <!-- <a mat-list-item>Questions</a>
                    <a mat-list-item>Create New Quote</a> -->

                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <mat-accordion class="app-nav-accordion">

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Supplier</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item>
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Supplier
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Supplier List
                    </mat-list-item>

                    <!-- <a mat-list-item>Questions</a>
                    <a mat-list-item>Create New Quote</a> -->

                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <mat-accordion class="app-nav-accordion">

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Expenses</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item>
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Expenses
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Expenses List
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New Category
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Category List
                    </mat-list-item>

                    <!-- <a mat-list-item>Questions</a>
                    <a mat-list-item>Create New Quote</a> -->

                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <mat-accordion class="app-nav-accordion">

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Reports</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item>
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Profit & Loss Report
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Purchase Report
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Purchase Return Report
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Purchase Payments Report
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Sales Report
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Sales Return Report
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Sales Payments Report
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Expense Report
                    </mat-list-item>

                    <!-- <a mat-list-item>Questions</a>
                    <a mat-list-item>Create New Quote</a> -->

                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <mat-accordion class="app-nav-accordion">

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>Users</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item>
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; New User
                    </mat-list-item>
                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; User List
                    </mat-list-item>

                    <mat-list-item routerLink="/new-invoice">
                        <mat-icon> format_list_bulleted</mat-icon>
                        &nbsp; &nbsp; Roles List
                    </mat-list-item>

                    <!-- <a mat-list-item>Questions</a>
                    <a mat-list-item>Create New Quote</a> -->

                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <!-- <mat-list-item routerLink="/staff" [ngClass]="this.router.url == '/staff' ? 'link-active' : ''">
            <mat-icon>filter_vintage</mat-icon>
            &nbsp; &nbsp; Staff
        </mat-list-item>
        <mat-divider></mat-divider> -->



        <!-- 
        <mat-list-item routerLink="/supplier" [ngClass]="this.router.url == '/supplier' ? 'link-active' : ''">
            <mat-icon>group</mat-icon>
            &nbsp; &nbsp; Manufacturers
        </mat-list-item>
        <mat-divider></mat-divider> -->

        <!-- <mat-list-item routerLink="/purchases" [ngClass]="this.router.url == '/purchases' ? 'link-active' : ''">
            <mat-icon> format_list_bulleted</mat-icon>
            &nbsp; &nbsp; Purchases
        </mat-list-item> -->
        <!-- <mat-divider></mat-divider> -->

        <!-- <mat-list-item routerLink="/purchase-return"
            [ngClass]="this.router.url == '/purchase-return' ? 'link-active' : ''">
            <mat-icon> shopping_cart</mat-icon>
            &nbsp; &nbsp; Purchase Return
        </mat-list-item>
        <mat-divider></mat-divider> -->

        <!-- <mat-list-item routerLink="/damage-purchases"
            [ngClass]="this.router.url == '/damage-purchases' ? 'link-active' : ''">
            <mat-icon> format_list_bulleted</mat-icon>
            &nbsp; &nbsp; Damage Purchases
        </mat-list-item>
        <mat-divider></mat-divider> -->


        <!-- <mat-list-item routerLink="/retailers" [ngClass]="this.router.url == '/retailers' ? 'link-active' : ''">
            <mat-icon> format_list_bulleted</mat-icon>
            &nbsp; &nbsp; Retailers
        </mat-list-item>
        <mat-divider></mat-divider> -->





        <!-- <mat-list-item routerLink="/sales-return" [ngClass]="this.router.url == '/sales-return' ? 'link-active' : ''">
            <mat-icon> format_list_bulleted</mat-icon>
            &nbsp; &nbsp; Sales Return
        </mat-list-item>
        <mat-divider></mat-divider> -->

        <!-- <mat-divider></mat-divider>
        <mat-list-item routerLink="/new-invoice">
            <mat-icon>store</mat-icon> &nbsp; &nbsp; Bills
        </mat-list-item>
        <mat-divider></mat-divider>


        <mat-divider></mat-divider>
        <mat-list-item routerLink="/product-model" [ngClass]="this.router.url == '/product-model' ? 'link-active' : ''">
            <mat-icon>store</mat-icon> &nbsp; &nbsp; Product Modal
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-divider></mat-divider>
        <mat-list-item routerLink="/product-batch" [ngClass]="this.router.url == '/product-batch'? 'link-active' : ''">
            <mat-icon>store</mat-icon> &nbsp; &nbsp; Product Batch
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item routerLink="/payment" [ngClass]="this.router.url == '/payment' ? 'link-active' : ''">
            <mat-icon>group</mat-icon>
            &nbsp; &nbsp; Payments
        </mat-list-item>
        <mat-divider></mat-divider> -->

        <!-- <mat-list-item routerLink="/user-management" [ngClass]="this.router.url == '/user-management' ? 'link-active' : ''">
            <mat-icon>group</mat-icon>
            &nbsp; &nbsp; Users
        </mat-list-item>
        <mat-divider></mat-divider> -->

        <!-- <mat-list-item routerLink="/expenses" [ngClass]="this.router.url == '/expenses' ? 'link-active' : ''">
            <mat-icon>bug_report</mat-icon>
            &nbsp; &nbsp; Expenses
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider> -->

        <!-- <mat-list-item routerLink="/products-list" [ngClass]="this.router.url == '/products-list' ? 'link-active' : ''">
            <mat-icon>shopping_cart</mat-icon>
            &nbsp; &nbsp; Products List
        </mat-list-item>
        <mat-divider></mat-divider> -->

        <!-- <mat-divider></mat-divider>
        <mat-list-item routerLink="/notifications" [ngClass]="this.router.url == '/notifications' ? 'link-active' : ''">
            <mat-icon>notification_important</mat-icon>
            &nbsp; &nbsp; Notifications
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/user-questions"
            [ngClass]="this.router.url == '/user-questions' ? 'link-active' : ''">
            <mat-icon>question_answer</mat-icon>
            &nbsp; &nbsp; Questions
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item routerLink="/agri-map" [ngClass]="this.router.url == '/agri-map' ? 'link-active' : ''">
            <mat-icon> map</mat-icon>
            &nbsp; &nbsp; Agri Map
        </mat-list-item> -->



    </mat-list>
    <!-- <mat-accordion class="app-nav-accordion">
        <mat-nav-list>
          <a mat-list-item>Item One</a>
          <h3 matSubheader>Section One</h3>
          <a mat-list-item>Item Two</a>
        </mat-nav-list>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
              <mat-panel-title>Section Two</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
              <a mat-list-item>Item Three</a>
              <a mat-list-item>Item Four</a>
          </mat-nav-list>
      </mat-expansion-panel>
      </mat-accordion> -->

</div>
<div class="content-area active">
    <router-outlet></router-outlet>
</div>
<!-- </div> -->
<mat-toolbar class="example-toolbar">
    <p class="example-app-name" style="font-size: 12px">@ Powred by Accounts Manager</p>
</mat-toolbar>
<!-- </div> -->