.mat-accordion .mat-expansion-panel:last-of-type{
    margin: 10px 0px;
}
// .content-area{
//     margin-top: 85px;
//      width: 96%; margin-left: 2%;
// }
// .content-area.active{
//     width: 78%;
//     margin-left: 21%;
// }
// .side-nav{
//    width: 20%; float: left;
// }
// .side-nav.active{
//     width: 20%;
// }
::ng-deep body{
    overflow: hidden;
}

.content-area{
    height: 87%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 78%;
    margin: 0px;
    margin-top: 46px;
    padding: 10px;
    float: left;
}

.example-toolbar{
    position: fixed;
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-top: 1px solid #dfdfdf;
    bottom: 0px;
    max-height: 35px;
}