<app-admin-header></app-admin-header>
<div class="title">Sales List</div>
<mat-divider></mat-divider>
<!-- <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="isExpand">
        <mat-expansion-panel-header> Add New Invoice </mat-expansion-panel-header>
        <div class="example-container">
            <form [formGroup]="billsForm" class="form">
                <mat-divider></mat-divider>


                
                <div class="row">
                    <div class="col-md-3 iw">
                        <mat-form-field appearance="outline">
                            <mat-label>Invoice No</mat-label>
                            <input matInput placeholder="Invoice No" formControlName="invoiceNo">
                        </mat-form-field>


                    </div>
                    <div class="col-md-3 iw">
                        <mat-form-field appearance="outline">
                            <mat-label>Retailer Id</mat-label>
                            <input matInput placeholder="Retailer Id" formControlName="retailerId">
                        </mat-form-field>
                    </div>
                 
                    <div class="col-md-3 iw">
                        <mat-form-field appearance="outline">
                            <mat-label>Quantity</mat-label>
                            <input matInput placeholder="quantity" formControlName="quantity">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 iw">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Description" formControlName="description">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 iw">
                        <mat-form-field appearance="outline">
                            <mat-label>Advance</mat-label>
                            <input matInput placeholder="Advance" formControlName="advance">
                        </mat-form-field>
                    </div>

               
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Balance</mat-label>
                            <input matInput placeholder="Balance" formControlName="balance">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Total</mat-label>
                            <input matInput placeholder="Total" formControlName="total">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Balance Due Date</mat-label>
                            <input matInput placeholder="Balance Due Date" formControlName="balanceDueDate">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Insert Date</mat-label>
                            <input matInput placeholder="Insert Date" formControlName="insertDate">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Update Date</mat-label>
                            <input matInput placeholder="Update Date" formControlName="updateDate">
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Generate Otp</mat-label>
                            <input matInput placeholder="Generate Otp" formControlName="generateOtp">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>OTP Status</mat-label>
                            <input matInput placeholder="OTP Status" formControlName="otpStatus">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Insert User Id</mat-label>
                            <input matInput placeholder="Insert User Id" formControlName="insertUserId">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Update User Id</mat-label>
                            <input matInput placeholder="Update User Id" formControlName="updateUserId">
                        </mat-form-field>
                    </div>
                </div>

                <div class="example-button-row">
                    <button *ngIf="!isExpand" mat-button color="primary" (click)="add()">
                        Save
                    </button> &nbsp; &nbsp;
                    <button *ngIf="isExpand" mat-button color="primary" (click)="edit()">
                        Save
                    </button> &nbsp; &nbsp;
                    <button mat-button style="background-color:lightgray ;">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
</mat-accordion> -->
<div class="search" style="margin-top: 20px;">
    <div class="row">


    </div>

    <div *ngIf="isTableShow" style="overflow-x: scroll; width: 1000px;">
        <app-table [columns]="billsColumns" [buttons]="buttons" [data]="billsData" [pagination]="[5, 25, 100]" (onClick)="gotoItem($event)" (deleteClick)="deleteItem($event)" [pageSize]="5" [tableMinWidth]="1100">
        </app-table>
    </div>
</div>