<app-admin-header [title]="title"></app-admin-header>

<mat-card>
    <div class="row">
        <div class="col-md-3">
            <button mat-raised-button color="primary">
                <!-- <mat-icon class="card-icon"> scatter_plot</mat-icon> &nbsp; -->
                <img src="../../../../assets/images/dashboard/totl_mod.png" class="card-icon" alt=""> &nbsp;
                <div class="card-head">
                    <div class="card-desc"> Total Models </div>
                    <div class="card-desc"> <strong> 75 </strong></div>
                </div>
            </button>

        </div>
        <div class="col-12 col-sm-6 col-md-3">

            <button mat-raised-button color="primary">
                <!-- <mat-icon class="card-icon"> scatter_plot</mat-icon> &nbsp; -->
                <img src="../../../../assets/images/dashboard/total_pr.jpg" class="card-icon" alt=""> &nbsp;
                <div class="card-head">
                    <div class="card-desc"> Total Products </div>
                    <div class="card-desc"> <strong> 90 </strong></div>
                </div>
            </button>


        </div>
        <div class="col-md-3">

            <button mat-raised-button color="primary">
                <!-- <mat-icon class="card-icon"> scatter_plot</mat-icon> &nbsp; -->
                <img src="../../../../assets/images/dashboard/available.png" class="card-icon" alt=""> &nbsp;
                <div class="card-head">
                    <div class="card-desc"> Availabe </div>
                    <div class="card-desc"> <strong> 85 </strong></div>
                </div>
            </button>
        </div>
        <div class="col-md-3">

            <button mat-raised-button color="primary">
                <!-- <mat-icon class="card-icon"> scatter_plot</mat-icon> &nbsp; -->
                <img src="../../../../assets/images/dashboard/sold.jfif" class="card-icon" alt=""> &nbsp;
                <div class="card-head">
                    <div class="card-desc"> Sold </div>
                    <div class="card-desc"> <strong> 89 </strong></div>
                </div>
            </button>
        </div>

    </div>


</mat-card>









<div class="main-container container-fluid">

    <div class="page-header">
        <!-- <h1 class="page-title">C3-Pie Charts</h1> -->

    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div> Model 1 </div>
                        <ul>
                            <li>Total :<span> 99</span> &nbsp; <span> Available :</span> <span>99</span> &nbsp; <span>
                                    Sold :</span> <span>99</span></li>

                        </ul>
                    </mat-expansion-panel-header>
                    <div class="example-container">
                        <table>

                            <tr>
                                <th>#</th>
                                <th>Total</th>
                                <th>Available</th>
                                <th>Sold</th>
                            </tr>
                            <tr>
                                <td>Black</td>
                                <td>99</td>
                                <td>99</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>Red</td>
                                <td>88</td>
                                <td>88</td>
                                <td>88</td>
                            </tr>
                        </table>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>


        <div class="col-lg-6 col-md-12">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div> Model 2 </div>
                        <ul>
                            <li>Total :<span> 99</span> &nbsp; <span> Available :</span> <span>99</span> &nbsp; <span>
                                    Sold :</span> <span>99</span></li>

                        </ul>
                    </mat-expansion-panel-header>
                    <div class="example-container">
                        <table>

                            <tr>
                                <th>#</th>
                                <th>Total</th>
                                <th>Available</th>
                                <th>Sold</th>
                            </tr>
                            <tr>
                                <td>Black</td>
                                <td>99</td>
                                <td>99</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>Red</td>
                                <td>88</td>
                                <td>88</td>
                                <td>88</td>
                            </tr>
                        </table>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="col-lg-6 col-md-12">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div> Model 3 </div>
                        <ul>
                            <li>Total :<span> 99</span> &nbsp; <span> Available :</span> <span>99</span> &nbsp; <span>
                                    Sold :</span> <span>99</span></li>

                        </ul>
                    </mat-expansion-panel-header>
                    <div class="example-container">
                        <table>

                            <tr>
                                <th>#</th>
                                <th>Total</th>
                                <th>Available</th>
                                <th>Sold</th>
                            </tr>
                            <tr>
                                <td>Black</td>
                                <td>99</td>
                                <td>99</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>Red</td>
                                <td>88</td>
                                <td>88</td>
                                <td>88</td>
                            </tr>
                        </table>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="col-lg-6 col-md-12">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div> Model 4 </div>
                        <ul>
                            <li>Total :<span> 99</span> &nbsp; <span> Available :</span> <span>99</span> &nbsp; <span>
                                    Sold :</span> <span>99</span></li>

                        </ul>
                    </mat-expansion-panel-header>
                    <div class="example-container">
                        <table>

                            <tr>
                                <th>#</th>
                                <th>Total</th>
                                <th>Available</th>
                                <th>Sold</th>
                            </tr>
                            <tr>
                                <td>Black</td>
                                <td>99</td>
                                <td>99</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>Red</td>
                                <td>88</td>
                                <td>88</td>
                                <td>88</td>
                            </tr>
                        </table>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>